<!-- Store widget: the Steam widget once site.json has the app ID, the itch embed until then. -->
<div class="game-widget">
  {{#game.steam_app_id}}
  <iframe class="steam-widget" src="https://store.steampowered.com/widget/{{game.steam_app_id}}/" width="646" height="190" title="{{game.title}} on Steam"></iframe>
  {{/game.steam_app_id}}
  {{^game.steam_app_id}}
  <!-- ALEX: the Steam widget replaces this itch embed automatically when game.steam_app_id is set in site.json -->
  <iframe src="https://itch.io/embed/{{game.itch_embed_id}}?bg_color=432a5e&amp;fg_color=ffffff&amp;link_color=5b6ffa&amp;border_color=432a5e" width="552" height="167" title="{{game.title}} on itch.io"><a href="{{game.itch_url}}">{{game.title}} by strafespey</a></iframe>
  {{/game.steam_app_id}}
</div>
